@charset "UTF8";
/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;/*FONTE IMPORTADA GOOGLE FONTS*/
}

.interface {
    max-width: 1280px;/*Largura maxima*/
    margin: 0 auto;/*centraliza todo contéudo da interface*/
}
/*ESTILO CABEÇALHO*/
 header {
    width: 100%;
    background-color: black;
 }

 /*logotipo fica de uma lado e icones do outro*/
 .top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .top-header {
    background-color: white;
    padding: 20px 4%; /*4% para não ficar muito colado nas laterais da tela*/
 }

 .top-header .logotipo img {
    max-width: 340px;/*tamanho da logo*/
 }
/*personalizando os icones*/
 .top-header .btn-social buttom {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 30px;/*por ser icones não baixados nas conseguimos mudar o tamanho*/
    border-radius: 50%;
    background-color: transparent;/*deixar o fundo dos icones transparentes, consigo isso por eles serem fontes*/
    border: 2px solid black;/*Bordas dos icones*/
    cursor: pointer;/* o ponteiro do mouse fica uma mão quando passa por cima*/
 }