@charset "UTF8";
/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;/*FONTE IMPORTADA GOOGLE FONTS*/
}

.interface {
    max-width: 1280px;/*Largura maxima*/
    margin: 0 auto;/*centraliza todo contéudo da interface*/
}
/*ESTILO CABEÇALHO*/
 header {
    width: 100%;
    background-color: rgb(211, 170, 65);
 }

 /*logotipo fica de uma lado e icones do outro*/
 .top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .top-header {
    background-color: white;
    padding: 5px 3%; /*4% para não ficar muito colado nas laterais da tela*/
 }

 .top-header .logotipo img {
    max-width: 340px;/*tamanho da logo*/
 }
/*personalizando os icones*/
 .top-header .btn-social buttom {
    width: 40px;
    height: 40px;
    padding: 4px;
    font-size: 25px;/*por ser icones não baixados nas conseguimos mudar o tamanho*/
    border-radius: 50%;/*Tamanho da borda redonda dos icones*/
    background-color: transparent;/*deixar o fundo dos icones transparentes, consigo isso por eles serem fontes*/
    border: 2px solid black;/*Bordas dos icones*/
    cursor: pointer;/* o ponteiro do mouse fica uma mão quando passa por cima*/
 }
 /*cabeçalho abaixo*/
 .bottom-header nav ul {
   display: flex;
   align-items: center;
   justify-content: center;

   list-style-type: none;/*Tira as bolinhas da lista*/
 }

 .bottom-header nav ul li a {
   color: #fff;
   padding: 10px 10px; /*Espaçamento entre os menus*/
   text-decoration: none;/* tira o sublinhado dos menus*/
   font-size: 20px;/*tamanho da fonte*/
   display: block;
   transition: .2s;
 }
/*Assimque o mouse passar por cima acontece o envento*/
 .bottom-header nav ul li a:hover {
   background-color: aqua;
   color: antiquewhite;
   box-shadow: inset 0 0 8px black;/*sombra interna dentro da caixa o descolamento horiz e vertical 0 px espelhamento em 8px*/
 }

 .drop-hover {
   position: relative;/*menu biografia relative*/
 }

 .drop-hover .drop { /*submenu da biografia absolute*/
   position: absolute;
   background-color: blueviolet;
   width: 100px;/*tamanho do submenu*/
   height: 0;
   overflow: hidden;/*Controla o que vai vazar no elemento no caso o height esta vazando devido o height 0 overflow esconde o submenu*/
   transition: .2s;
 }

 .drop-hover .drop a {
   padding: 20px; /*tamanho interno do espaçamento submenu*/
 }
 /*Para aparecer o menu que tinha escondido no .drop-hover . drop overflow*/
 .drop-hover:hover .drop {
   height: 190px;
   width: 140px;
 }

 h1 {
  text-align: center;/*h1 centralizado*/
 }

.artigo h2 {
  margin: 10px;
  padding: 3px 3px;
  width: 105%;
  text-decoration: underline;
  border-bottom: 1px solid black;
 }


 p {
  text-align: justify; /*texto justificado*/
 }

 /*pio2*/
 figure .pio1 {
  margin: 15px;
  width: 46vw;
 }

 /*imagem do index*/
 figure .index {
  margin: 15px;
 }

/*imagem das paginas*/ 
img {
  display: block; /*Para movimentar a imagem conforme margem abaixo ao centro da tela*/
  width: 500px;
  margin: 0 auto; /*imagem centralizada*/
}
main {
  float: left;
}

/*Barra Lateral*/
aside {
  border-left: 1px solid;
  padding: 15px;
  width: 400px;
  right: 350px;
  float: right;
}

.img-lateral {
  display: block;
  margin-left: 10px;
}



 footer {
  float: right;
  width: 100%;
  padding: 10px;
  background-color: rgb(211, 170, 65);
  justify-items: center;

 }